In [65]:
%pip install pandas
%pip install xgboost
%pip install sklearn
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

Requirement already satisfied: pandas in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: xgboost in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: numpy in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from xgboost) (1.11.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sklearn in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (0.0.post10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
customers_data = pd.read_csv('data_sets/customers.csv')

# CHECK FOR NULL VALUES
customers_data.isnull().sum()

customers_data

            CUSTOMER_ID  x_customer_id  y_customer_id
0      7894622031164826       7.600289      92.486016
1        65009550197454      97.647808      36.539666
2      5381378528001886      98.643812      46.537793
3       344044685095332       2.814298      57.194127
4      5281794686066290      49.174496      88.879290
...                 ...            ...            ...
49995  2018185637039049      10.076680      69.035001
49996  7838600820947425      92.012646      86.350366
49997  1310171896045522      92.243870      50.776952
49998  3346506901987756      73.865160      43.451419
49999  5987355644780185      74.174387      12.233790

[50000 rows x 3 columns]

In [9]:
merchants_data = pd.read_csv('data_sets/merchants.csv')

# CHECK FOR NULL VALUES
merchants_data.isnull().sum()

MERCHANT_ID                           0
BUSINESS_TYPE                         0
MCC_CODE                              0
LEGAL_NAME                            0
FOUNDATION_DATE                       0
TAX_EXCEMPT_INDICATOR                 0
OUTLET_TYPE                           0
ACTIVE_FROM                           0
TRADING_FROM                          0
ANNUAL_TURNOVER_CARD                  0
ANNUAL_TURNOVER                       0
AVERAGE_TICKET_SALE_AMOUNT            0
PAYMENT_PERCENTAGE_FACE_TO_FACE       0
PAYMENT_PERCENTAGE_ECOM               0
PAYMENT_PERCENTAGE_MOTO               0
DEPOSIT_REQUIRED_PERCENTAGE           0
DEPOSIT_PERCENTAGE                    0
DELIVERY_SAME_DAYS_PERCENTAGE         0
DELIVERY_WEEK_ONE_PERCENTAGE          0
DELIVERY_WEEK_TWO_PERCENTAGE          0
DELIVERY_OVER_TWO_WEEKS_PERCENTAGE    0
dtype: int64

In [10]:
# DROP COLUMNS THAT ARE NOT NEEDED
merchants_data = merchants_data.drop(columns=['BUSINESS_TYPE', 'MCC_CODE', 'LEGAL_NAME', 'FOUNDATION_DATE',
                                                'TAX_EXCEMPT_INDICATOR', 'ACTIVE_FROM', 'TRADING_FROM', 'ANNUAL_TURNOVER_CARD',
                                                  'AVERAGE_TICKET_SALE_AMOUNT', 'DELIVERY_SAME_DAYS_PERCENTAGE',
                                                    'DELIVERY_WEEK_ONE_PERCENTAGE', 'DELIVERY_WEEK_TWO_PERCENTAGE', 
                                                    'DELIVERY_OVER_TWO_WEEKS_PERCENTAGE',
                                                    'PAYMENT_PERCENTAGE_FACE_TO_FACE','PAYMENT_PERCENTAGE_ECOM',
                                                    'PAYMENT_PERCENTAGE_MOTO'])

# CALCULATE DIFFERENCE IN DEPOSIT_REQUIRED_PERCENTAGE AND DEPOSIT_PERCENTAGE AND SAVE TO DEPOSIT_DIFF
merchants_data['DEPOSIT_DIFF'] = merchants_data['DEPOSIT_REQUIRED_PERCENTAGE'] - merchants_data['DEPOSIT_PERCENTAGE']

# DROP THE INDIVIDUAL DEPOSIT_PERCENTAGE AND DEPOSIT_REQUIRED_PERCENTAGE COLUMNS
merchants_data = merchants_data.drop(columns=['DEPOSIT_REQUIRED_PERCENTAGE', 'DEPOSIT_PERCENTAGE'])

merchants_data

,MERCHANT_ID,OUTLET_TYPE,ANNUAL_TURNOVER,DEPOSIT_DIFF
0,1b7557bb-208b-4fdc-ba91-eca98298541a,Ecommerce,351840227,0
1,6c948718-ea18-4d07-85d7-0916eb55e699,Ecommerce,411017547,0
2,f0151a49-7ac0-4258-93db-46bee2db6f66,Ecommerce,306887834,0
3,07089d03-0d63-4d24-a3f9-e651fda07cdc,Ecommerce,686209305,0
4,2c16629a-da48-4e69-9862-8fd521a53bbc,Ecommerce,384701644,0
...,...,...,...,...
30447,f58e8478-1566-4d1c-b0cb-b2106c8da3be,Face to Face and Ecommerce,304951,0
30448,68618d14-1e80-449d-95e3-6fa9e61901be,Face to Face and Ecommerce,735472,0
30449,e3cfd7f2-e2d1-40ea-b7b3-2583c57ecb3a,Face to Face and Ecommerce,645184,0
30450,3f8dff6f-d5b0-4963-99fa-3c64830fed23,Face to Face and Ecommerce,912396,0
30451,cb5826ba-6a40-4f7f-9b53-ae7f3e35e740,Face to Face and Ecommerce,822741,0

In [11]:
terminals_data = pd.read_csv('data_sets/terminals.csv')

# CHECK FOR NULL VALUES
terminals_data.isnull().sum()

terminals_data

      TERMINAL_ID  x_terminal_id  y_terminal__id
0         9754224      41.536730       68.889911
1        37467861      61.864075       20.882662
2        20678215      70.530677       36.567633
3        12724021      92.961874       66.721471
4         2989793      38.756717       68.669003
...           ...            ...             ...
4995     47999983      41.827704       36.312149
4996     13129180      11.208119       27.528779
4997     74645821      53.196734       82.410478
4998     65145440      59.074483       60.234741
4999     14982407      14.800406        8.568587

[5000 rows x 3 columns]

In [12]:
transactions_test_data = pd.read_csv('data_sets/transactions_test.csv')

transactions_test_data = pd.merge(transactions_test_data, customers_data, on='CUSTOMER_ID')
transactions_test_data = pd.merge(transactions_test_data, terminals_data, on='TERMINAL_ID')

# # EUCLIDIAN DISTANCE
transactions_test_data['distance'] = (((transactions_test_data['x_customer_id'] - transactions_test_data['y_customer_id'])**2)
                                + ((transactions_test_data['x_terminal_id'] - transactions_test_data['y_terminal__id'])**2))**0.5
# CHECK FOR NULL VALUES
transactions_test_data.isnull().sum()

TX_ID                                        0
TX_TS                                        0
CUSTOMER_ID                                  0
TERMINAL_ID                                  0
TX_AMOUNT                                    0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT        0
TRANSACTION_CASHBACK_AMOUNT                  0
CARD_EXPIRY_DATE                             0
CARD_DATA                                    0
CARD_BRAND                                   0
TRANSACTION_TYPE                             0
TRANSACTION_STATUS                           0
FAILURE_CODE                             70009
FAILURE_REASON                           70009
TRANSACTION_CURRENCY                         0
CARD_COUNTRY_CODE                            0
MERCHANT_ID                                  1
IS_RECURRING_TRANSACTION                     0
ACQUIRER_ID                                  0
CARDHOLDER_AUTH_METHOD                       0
ID_JOIN                                      0
x_customer_id                                0
y_customer_id                                0
x_terminal_id                                0
y_terminal__id                               0
distance                                     0
dtype: int64

In [13]:
# DROP COLUMNS
transactions_test_data = transactions_test_data.drop(columns=['TX_TS', 'TX_AMOUNT', 'FAILURE_CODE',
                                                                'FAILURE_REASON', 'CARD_BRAND', 'CARD_DATA', 'CARD_EXPIRY_DATE',
                                                                  'TRANSACTION_STATUS', 'TRANSACTION_TYPE',
                                                                  'CARD_COUNTRY_CODE','TRANSACTION_CURRENCY',
                                                                  'TRANSACTION_GOODS_AND_SERVICES_AMOUNT',
                                                                  'x_customer_id', 'y_customer_id',
                                                                  'x_terminal_id', 'y_terminal__id'])

# DROP COLUMN IF ALL VALUES ARE 0
transactions_test_data = transactions_test_data.loc[:, (transactions_test_data != 0.0).any(axis=0)]

transactions_test_data

,TX_ID,CUSTOMER_ID,TERMINAL_ID,TRANSACTION_CASHBACK_AMOUNT,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,ID_JOIN,distance
0,09324d812ba7915c3f791e973db293ad50db70d8,4635360198955981,4641801,0.0,52f53dfb-6f2c-4584-8c82-aeafbcd7a02d,False,ACQ2,Signature,5637.0,53.737115
1,304acb4a3f01e587cde1afaec3ca31d0cdc97f2d,2759476206244285,4641801,0.0,39ee690d-8575-4b1c-b7df-2b4415dcf914,True,ACQ3,Online PIN,7570.0,56.109865
2,88404703377a385f41a0f66c6c7e517392c18389,2759476206244285,4641801,0.0,1e8baf90-a292-44e0-87bf-fd232c530a0f,False,ACQ1,No CVM performed,11677.0,56.109865
3,1f875dc9fa75d9aab78f7c9f5880ada726ed9dff,511269827752665,4641801,0.0,22a90b6f-9768-4df7-be53-d83d86347a35,False,ACQ3,Online PIN,7626.0,54.175138
4,660a47e7b1422ffbcd8581da9aae541db84d7a49,2271650133604365,4641801,0.0,0bd7ce27-cef4-42bd-944b-337f79c0e38f,False,ACQ1,Online PIN,6589.0,52.398684
...,...,...,...,...,...,...,...,...,...,...
71134,5bc9c2dc33f5e62799c922a33ccb43d438492411,6791500339924992,10515200,0.0,32fe97cc-a518-4379-816b-e571778715ac,False,ACQ3,Offline plaintext PIN,8188.0,128.938386
71135,a769750eb2c8dbfbdb69204906146d64821f3c46,3546514278641005,10515200,0.0,c727b224-2dec-44a2-a766-e357e5dfc19a,False,ACQ2,Offline enciphered PIN and signature,6983.0,123.017462
71136,bbe806307501e6bbcac927fd4846988163fed75d,7748050858955326,10515200,0.0,9057c5d2-7f9f-407f-aea4-3b2f5d1a4da1,False,ACQ3,Online PIN,7825.0,124.723113
71137,e0ba811f6857529659d191d020c8e5888c3f4bb3,8615298785123346,53516402,0.0,d130ca92-4067-4c33-86af-60ef33aa3bde,False,ACQ3,Online PIN,16817.0,90.382882
71138,b1f34089238ec3f7c0b14b21e01ae24e419b37d9,2788269114196408,53516402,0.0,a0c6c07d-4a38-453a-a7b8-545a6282cbfd,False,ACQ2,No CVM performed,5656.0,94.373018

In [14]:
# CHECK FOR NULL VALUES AGAIN
transactions_test_data.isnull().sum()

TX_ID                          0
CUSTOMER_ID                    0
TERMINAL_ID                    0
TRANSACTION_CASHBACK_AMOUNT    0
MERCHANT_ID                    1
IS_RECURRING_TRANSACTION       0
ACQUIRER_ID                    0
CARDHOLDER_AUTH_METHOD         0
ID_JOIN                        0
distance                       0
dtype: int64

In [15]:
transactions_train_data = pd.read_csv('data_sets/transactions_train.csv')

transactions_train_data = pd.merge(transactions_train_data, customers_data, on='CUSTOMER_ID')
transactions_train_data = pd.merge(transactions_train_data, terminals_data, on='TERMINAL_ID')

# EUCLIDIAN DISTANCE
transactions_train_data['distance'] = (((transactions_train_data['x_customer_id'] - transactions_train_data['y_customer_id'])**2)
                                + ((transactions_train_data['x_terminal_id'] - transactions_train_data['y_terminal__id'])**2))**0.5


# CHECK FOR NULL VALUES
transactions_train_data.isnull().sum()

C:\Users\bbdnet2621\AppData\Local\Temp\ipykernel_7616\1895859678.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  transactions_train_data = pd.read_csv('data_sets/transactions_train.csv')

TX_ID                                          0
TX_TS                                          0
CUSTOMER_ID                                    0
TERMINAL_ID                                    0
TX_AMOUNT                                      0
TX_FRAUD                                       0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT          0
TRANSACTION_CASHBACK_AMOUNT                    0
CARD_EXPIRY_DATE                               0
CARD_DATA                                      0
CARD_BRAND                                     0
TRANSACTION_TYPE                               0
TRANSACTION_STATUS                             0
FAILURE_CODE                             1049208
FAILURE_REASON                           1049208
TRANSACTION_CURRENCY                           0
CARD_COUNTRY_CODE                              0
MERCHANT_ID                                    0
IS_RECURRING_TRANSACTION                       0
ACQUIRER_ID                                    1
CARDHOLDER_AUTH_METHOD                         1
x_customer_id                                  0
y_customer_id                                  0
x_terminal_id                                  0
y_terminal__id                                 0
distance                                       0
dtype: int64

In [16]:
# Clean data:
transactions_train_data = transactions_train_data.drop(columns=['TX_ID', 'TX_TS', 'TX_AMOUNT', 'FAILURE_CODE',
                                                                 'FAILURE_REASON', 'CARD_BRAND', 'CARD_DATA',
                                                                   'CARD_EXPIRY_DATE', 'TRANSACTION_STATUS', 'TRANSACTION_TYPE',
                                                                   'CARD_COUNTRY_CODE','TRANSACTION_CURRENCY',
                                                                  'TRANSACTION_GOODS_AND_SERVICES_AMOUNT',
                                                                  'x_customer_id', 'y_customer_id',
                                                                  'x_terminal_id', 'y_terminal__id'])

# DROP COLUMN IF ALL VALUES ARE 0
transactions_train_data = transactions_train_data.loc[:, (transactions_train_data != 0.0).any(axis=0)]

# DROP ROW IF A VALUE IS NAN
transactions_train_data = transactions_train_data.dropna()

transactions_train_data

,CUSTOMER_ID,TERMINAL_ID,TX_FRAUD,TRANSACTION_CASHBACK_AMOUNT,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,distance
0,7323088226725338,55875360,0,0.00,136def43-2ef3-4bc9-a8c2-60598c316e9c,False,ACQ1,Online PIN,11.709690
1,7323088226725338,55875360,0,0.00,d2956448-407a-4cec-8259-7dbd797f1fd7,False,ACQ3,Offline plaintext PIN,11.709690
2,4362790219307564,55875360,0,0.00,c072e147-18dc-456a-8132-124a9ebe313b,False,ACQ2,Offline enciphered PIN,11.634230
3,2376754785900600,55875360,0,0.00,ae6399bd-6f2c-4ecf-b376-9d82a90d4ab3,False,ACQ2,Offline enciphered PIN,11.229510
4,2376754785900600,55875360,1,5.63,7eb03e7c-220b-4fa5-9164-b69ab72aa87e,False,ACQ3,Online PIN,11.229510
...,...,...,...,...,...,...,...,...,...
1066435,7760361189551290,26508045,0,0.00,b93498b2-e7c3-4170-8a92-973110ce6d1a,False,ACQ1,Offline plaintext PIN,19.404982
1066436,4712914414618850,26508045,0,0.00,2f5b7a3b-bf6d-4714-a073-341128e3ea67,False,ACQ2,Online PIN,20.211619
1066437,3473580532934853,26508045,0,0.00,8c75bf43-03e2-4f39-8b36-2c6688604e94,False,ACQ1,No CVM performed,22.869618
1066438,84525978769760,26508045,0,0.00,e9ab9513-81cf-4da9-9cc1-93330b92aa10,False,ACQ1,Offline enciphered PIN,26.423300
1066439,4010654553006867,26508045,0,0.00,cae73d0b-1a67-46ad-9f44-6519b36980f5,False,ACQ2,Offline plaintext PIN,19.580418

In [17]:
# CHECK FOR NULL VALUES AGAIN
transactions_train_data.isnull().sum()

CUSTOMER_ID                    0
TERMINAL_ID                    0
TX_FRAUD                       0
TRANSACTION_CASHBACK_AMOUNT    0
MERCHANT_ID                    0
IS_RECURRING_TRANSACTION       0
ACQUIRER_ID                    0
CARDHOLDER_AUTH_METHOD         0
distance                       0
dtype: int64

In [18]:
# MERGE TABLES FOR TRAINING DATA
train_data = pd.merge(transactions_train_data, merchants_data, on='MERCHANT_ID', how='left')

train_data

,CUSTOMER_ID,TERMINAL_ID,TX_FRAUD,TRANSACTION_CASHBACK_AMOUNT,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,distance,OUTLET_TYPE,ANNUAL_TURNOVER,DEPOSIT_DIFF
0,7323088226725338,55875360,0,0.00,136def43-2ef3-4bc9-a8c2-60598c316e9c,False,ACQ1,Online PIN,11.709690,Face to Face,23598,0
1,7323088226725338,55875360,0,0.00,d2956448-407a-4cec-8259-7dbd797f1fd7,False,ACQ3,Offline plaintext PIN,11.709690,Face to Face and Ecommerce,123994,0
2,4362790219307564,55875360,0,0.00,c072e147-18dc-456a-8132-124a9ebe313b,False,ACQ2,Offline enciphered PIN,11.634230,Face to Face and Ecommerce,600285566,0
3,2376754785900600,55875360,0,0.00,ae6399bd-6f2c-4ecf-b376-9d82a90d4ab3,False,ACQ2,Offline enciphered PIN,11.229510,Face to Face and Ecommerce,725171599,60
4,2376754785900600,55875360,1,5.63,7eb03e7c-220b-4fa5-9164-b69ab72aa87e,False,ACQ3,Online PIN,11.229510,Face to Face,52233,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1066434,7760361189551290,26508045,0,0.00,b93498b2-e7c3-4170-8a92-973110ce6d1a,False,ACQ1,Offline plaintext PIN,19.404982,Face to Face,532435,0
1066435,4712914414618850,26508045,0,0.00,2f5b7a3b-bf6d-4714-a073-341128e3ea67,False,ACQ2,Online PIN,20.211619,Face to Face,383404,0
1066436,3473580532934853,26508045,0,0.00,8c75bf43-03e2-4f39-8b36-2c6688604e94,False,ACQ1,No CVM performed,22.869618,Face to Face and Ecommerce,1300756,0
1066437,84525978769760,26508045,0,0.00,e9ab9513-81cf-4da9-9cc1-93330b92aa10,False,ACQ1,Offline enciphered PIN,26.423300,Face to Face and Ecommerce,367010,0
1066438,4010654553006867,26508045,0,0.00,cae73d0b-1a67-46ad-9f44-6519b36980f5,False,ACQ2,Offline plaintext PIN,19.580418,Ecommerce,739625,0

In [19]:
# PRINT ANY ENTRIES THAT ARE NA
print(train_data[train_data.isna().any(axis=1)])

Empty DataFrame
Columns: [CUSTOMER_ID, TERMINAL_ID, TX_FRAUD, TRANSACTION_CASHBACK_AMOUNT, MERCHANT_ID, IS_RECURRING_TRANSACTION, ACQUIRER_ID, CARDHOLDER_AUTH_METHOD, distance, OUTLET_TYPE, ANNUAL_TURNOVER, DEPOSIT_DIFF]
Index: []

In [20]:
# MERGE TABLES FOR TESTING DATA
test_data = pd.merge(transactions_test_data, merchants_data, on='MERCHANT_ID', how='left')

test_data

,TX_ID,CUSTOMER_ID,TERMINAL_ID,TRANSACTION_CASHBACK_AMOUNT,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,ID_JOIN,distance,OUTLET_TYPE,ANNUAL_TURNOVER,DEPOSIT_DIFF
0,09324d812ba7915c3f791e973db293ad50db70d8,4635360198955981,4641801,0.0,52f53dfb-6f2c-4584-8c82-aeafbcd7a02d,False,ACQ2,Signature,5637.0,53.737115,Ecommerce,389840.0,0.0
1,304acb4a3f01e587cde1afaec3ca31d0cdc97f2d,2759476206244285,4641801,0.0,39ee690d-8575-4b1c-b7df-2b4415dcf914,True,ACQ3,Online PIN,7570.0,56.109865,Ecommerce,666224.0,0.0
2,88404703377a385f41a0f66c6c7e517392c18389,2759476206244285,4641801,0.0,1e8baf90-a292-44e0-87bf-fd232c530a0f,False,ACQ1,No CVM performed,11677.0,56.109865,Face to Face,199762.0,0.0
3,1f875dc9fa75d9aab78f7c9f5880ada726ed9dff,511269827752665,4641801,0.0,22a90b6f-9768-4df7-be53-d83d86347a35,False,ACQ3,Online PIN,7626.0,54.175138,Face to Face and Ecommerce,60673049.0,0.0
4,660a47e7b1422ffbcd8581da9aae541db84d7a49,2271650133604365,4641801,0.0,0bd7ce27-cef4-42bd-944b-337f79c0e38f,False,ACQ1,Online PIN,6589.0,52.398684,Face to Face and Ecommerce,259153.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71134,5bc9c2dc33f5e62799c922a33ccb43d438492411,6791500339924992,10515200,0.0,32fe97cc-a518-4379-816b-e571778715ac,False,ACQ3,Offline plaintext PIN,8188.0,128.938386,Face to Face,479290.0,0.0
71135,a769750eb2c8dbfbdb69204906146d64821f3c46,3546514278641005,10515200,0.0,c727b224-2dec-44a2-a766-e357e5dfc19a,False,ACQ2,Offline enciphered PIN and signature,6983.0,123.017462,Face to Face,562953.0,0.0
71136,bbe806307501e6bbcac927fd4846988163fed75d,7748050858955326,10515200,0.0,9057c5d2-7f9f-407f-aea4-3b2f5d1a4da1,False,ACQ3,Online PIN,7825.0,124.723113,Face to Face,491320.0,-65.0
71137,e0ba811f6857529659d191d020c8e5888c3f4bb3,8615298785123346,53516402,0.0,d130ca92-4067-4c33-86af-60ef33aa3bde,False,ACQ3,Online PIN,16817.0,90.382882,Ecommerce,12563.0,0.0
71138,b1f34089238ec3f7c0b14b21e01ae24e419b37d9,2788269114196408,53516402,0.0,a0c6c07d-4a38-453a-a7b8-545a6282cbfd,False,ACQ2,No CVM performed,5656.0,94.373018,Face to Face and Ecommerce,482581.0,0.0

In [21]:
# PRINT ANY ENTRIES THAT ARE NA
test_data[test_data.isna().any(axis=1)]

,TX_ID,CUSTOMER_ID,TERMINAL_ID,TRANSACTION_CASHBACK_AMOUNT,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,ID_JOIN,distance,OUTLET_TYPE,ANNUAL_TURNOVER,DEPOSIT_DIFF
54563,ddaa070acea087eae360225e92c1609cea905e43,1513339476778402,77821795,0.0,NaN,False,ACQ3,Online PIN,0.0,21.355734,NaN,NaN,NaN

In [22]:
# Separate target prediction
y = train_data.TX_FRAUD
X = train_data.drop(['TX_FRAUD' ,'CUSTOMER_ID',  'TERMINAL_ID','MERCHANT_ID'], axis=1)
test_data_TX_ID = test_data.TX_ID
X_test = test_data.drop(['CUSTOMER_ID',  'TERMINAL_ID','MERCHANT_ID', 'ID_JOIN', 'TX_ID'], axis=1)
test_data_TX_ID.head()

0    09324d812ba7915c3f791e973db293ad50db70d8
1    304acb4a3f01e587cde1afaec3ca31d0cdc97f2d
2    88404703377a385f41a0f66c6c7e517392c18389
3    1f875dc9fa75d9aab78f7c9f5880ada726ed9dff
4    660a47e7b1422ffbcd8581da9aae541db84d7a49
Name: TX_ID, dtype: object

In [23]:
# Divide data into training data and validation data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

object_cols = [col for col in X_train.columns if X_train[col].dtype == "object"]
object_cols_test_data = [col for col in X_train.columns if X_train[col].dtype == "object"]

In [24]:
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols].astype(str)))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols].astype(str)))
OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[object_cols].astype(str)))

C:\Users\bbdnet2621\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [25]:
# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index
OH_cols_test.index = X_test.index

In [26]:
# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)
num_X_test = X_test.drop(object_cols_test_data, axis=1)

In [27]:
# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)
OH_X_test = pd.concat([num_X_test, OH_cols_test], axis=1)

In [28]:
OH_X_train.columns = OH_X_train.columns.astype(str)
OH_X_valid.columns = OH_X_valid.columns.astype(str)
OH_X_test.columns = OH_X_test.columns.astype(str)

In [29]:
OH_X_train.head()

,TRANSACTION_CASHBACK_AMOUNT,distance,ANNUAL_TURNOVER,DEPOSIT_DIFF,0,1,2,3,4,5,...,8,9,10,11,12,13,14,15,16,17
586284,8.14,8.749167,109966,0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1003473,0.00,12.586615,223665,-10,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
527600,0.00,69.483243,131666,0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
258650,0.00,20.638162,131265,0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
608642,0.00,29.777720,224796,0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [30]:
reg_model = XGBRegressor(eval_metric=mean_absolute_error, learning_rate=0.05, n_estimators=500)
reg_model.fit(OH_X_train, y_train, eval_set=[(OH_X_valid, y_valid)], early_stopping_rounds=5, verbose=False)

C:\Users\bbdnet2621\AppData\Local\anaconda3\Lib\site-packages\xgboost\sklearn.py:885: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False,
             eval_metric=<function mean_absolute_error at 0x000001F6940EA5C0>,
             feature_types=None, gamma=None, grow_policy=None,
             importance_type=None, interaction_constraints=None,
             learning_rate=0.05, max_bin=None, max_cat_threshold=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, multi_strategy=None, n_estimators=500,
             n_jobs=None, num_parallel_tree=None, random_state=None, ...)

In [31]:
reg_model.evals_result()

{'validation_0': OrderedDict([('rmse',
               [0.1591041397762837,
                0.15908258543846232,
                0.15906281223894125,
                0.15904462667055036,
                0.15902976836042174,
                0.15901567008526085,
                0.15900228387560092,
                0.15898897503048806,
                0.1589797842492372,
                0.1589688714188972,
                0.15896057756186538,
                0.15895250192709515,
                0.15894486240466393,
                0.15893895347310688,
                0.15893300175619338,
                0.15892799728435814,
                0.15892465856952787,
                0.15892029638942282,
                0.1589162755438443,
                0.15891331422566327,
                0.15890979647785033,
                0.15890718498266163,
                0.15890490946828603,
                0.15890254950735813,
                0.15890014460628873,
                0.15889812602952458,
                0.15889396754380075,
                0.1588922600599941,
                0.15889079372431267,
                0.15889062274932828,
                0.1588889405318636,
                0.15888727336347663,
                0.1588871968506793,
                0.15888538721578718,
                0.15888436256858227,
                0.15888428497657456,
                0.15888379304722006,
                0.15888131669359914,
                0.15887990278104616,
                0.15887939353185412,
                0.15887825529682378,
                0.15887822771051638,
                0.1588767106719311,
                0.15887704509398354,
                0.1588770578776036,
                0.1588761955113976,
                0.15887528338884216,
                0.15887556237821468,
                0.15887532475174576,
                0.15887522020361244,
                0.15887543741856852,
                0.158874532789506,
                0.158873525829936,
                0.158873081616205,
                0.1588732166071842,
                0.1588728088824774,
                0.15887220821831746,
                0.15887158320619577,
                0.15887173878281793,
                0.1588707544190216,
                0.15887042162417297,
                0.15887063255616435,
                0.15887015449398048,
                0.15887062507624594,
                0.1588700580186596,
                0.15886958738034962,
                0.1588702693448574,
                0.15887011374492924,
                0.15887002935479322,
                0.15887006197949347,
                0.15887009528044588]),
              ('mean_absolute_error',
               [0.050457,
                0.050449,
                0.050441,
                0.050434,
                0.050428,
                0.050421,
                0.050415,
                0.050409,
                0.050404,
                0.050398,
                0.050393,
                0.050388,
                0.050384,
                0.05038,
                0.050376,
                0.050373,
                0.050369,
                0.050366,
                0.050362,
                0.050359,
                0.050357,
                0.050354,
                0.050351,
                0.050349,
                0.050347,
                0.050345,
                0.050343,
                0.050341,
                0.050339,
                0.050338,
                0.050337,
                0.050335,
                0.050334,
                0.050332,
                0.050331,
                0.05033,
                0.050329,
                0.050328,
                0.050327,
                0.050326,
                0.050324,
                0.050323,
                0.050322,
                0.050322,
                0.050321,
                0.05032,
                0.050319,
                0.050318,
                0.050316,
                0.050316,
                0.050316,
                0.050315,
                0.050315,
                0.050315,
                0.050314,
                0.050314,
                0.050314,
                0.050314,
                0.050314,
                0.050313,
                0.050312,
                0.050312,
                0.050311,
                0.050311,
                0.050311,
                0.05031,
                0.050311,
                0.050311,
                0.050311,
                0.05031,
                0.05031])])}

In [64]:
def round_data(value):
    if value < 0.5:
        return 0
    else:
        return 1
    
validation_data_predictions = reg_model.predict(OH_X_valid)
data = {'Predicted': validation_data_predictions,'Expected': y_valid}
df = pd.DataFrame(data)
y_true = df['Expected']

validation_data_predictions = df['Predicted'].apply(round_data)

accuracy = accuracy_score(y_valid, validation_data_predictions)
precision = precision_score(y_true, validation_data_predictions)
recall = recall_score(y_true, validation_data_predictions)
auc = roc_auc_score(y_true, validation_data_predictions)
 
print("Accuracy: {:.2f}%".format(accuracy * 100))
print(f"Precision: {precision:.2f}%")
print(f"Recall: {recall:.2f}%")
print("AUC:", auc)

403158     0
1001320    0
180263     0
498747     0
943279     0
          ..
985242     0
923954     0
503358     0
288845     0
777306     0
Name: TX_FRAUD, Length: 213288, dtype: int64
Accuracy: 97.40%
Precision: 0.75%
Recall: 0.00%

In [32]:
answers = reg_model.predict(OH_X_test)
answers

array([0.02868995, 0.03278899, 0.04399497, ..., 0.01642988, 0.01722124,
       0.03241398], dtype=float32)

In [35]:
output = pd.DataFrame({"TX_ID": test_data_TX_ID, "TX_FRAUD": answers})
output.set_index("TX_ID", inplace=True)
output

                                          TX_FRAUD
TX_ID
09324d812ba7915c3f791e973db293ad50db70d8  0.028690
304acb4a3f01e587cde1afaec3ca31d0cdc97f2d  0.032789
88404703377a385f41a0f66c6c7e517392c18389  0.043995
1f875dc9fa75d9aab78f7c9f5880ada726ed9dff  0.026938
660a47e7b1422ffbcd8581da9aae541db84d7a49  0.023343
...                                            ...
5bc9c2dc33f5e62799c922a33ccb43d438492411  0.016797
a769750eb2c8dbfbdb69204906146d64821f3c46  0.017784
bbe806307501e6bbcac927fd4846988163fed75d  0.016430
e0ba811f6857529659d191d020c8e5888c3f4bb3  0.017221
b1f34089238ec3f7c0b14b21e01ae24e419b37d9  0.032414

[71139 rows x 1 columns]

In [50]:
max_a = output.TX_FRAUD.max()
min_a = output.TX_FRAUD.min()
min_norm = 0
max_norm =1
output['TX_FRAUD'] = round((output.TX_FRAUD- min_a) * (max_norm - min_norm) / (max_a-min_a) + min_norm , 0)
output

                                          TX_FRAUD
TX_ID
09324d812ba7915c3f791e973db293ad50db70d8       0.0
304acb4a3f01e587cde1afaec3ca31d0cdc97f2d       0.0
88404703377a385f41a0f66c6c7e517392c18389       0.0
1f875dc9fa75d9aab78f7c9f5880ada726ed9dff       0.0
660a47e7b1422ffbcd8581da9aae541db84d7a49       0.0
...                                            ...
5bc9c2dc33f5e62799c922a33ccb43d438492411       0.0
a769750eb2c8dbfbdb69204906146d64821f3c46       0.0
bbe806307501e6bbcac927fd4846988163fed75d       0.0
e0ba811f6857529659d191d020c8e5888c3f4bb3       0.0
b1f34089238ec3f7c0b14b21e01ae24e419b37d9       0.0

[71139 rows x 1 columns]

In [51]:
output.to_csv('submission.csv')