In [1]:
%pip install pandas
%pip install xgboost
import pandas as pd
from sklearn.model_selection import train_test_split

Requirement already satisfied: pandas in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: xgboost in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (2.0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\bbdnet2621\appdata\local\anaconda3\lib\site-packages (from xgboost) (1.11.1)

In [2]:
customers_data = pd.read_csv('data_sets/customers.csv')

# CHECK FOR NULL VALUES
print(customers_data.isnull().sum())

# USE x_terminal_id and y_terminal__id to calculate euclidean distance
customers_data['distance'] = ((customers_data['x_customer_id'] - customers_data['y_customer_id'])**2)**0.5

# DROP COLUMNS THAT ARE NOT NEEDED
customers_data = customers_data.drop(columns=['x_customer_id', 'y_customer_id'])

customers_data

CUSTOMER_ID      0
x_customer_id    0
y_customer_id    0
dtype: int64

            CUSTOMER_ID   distance
0      7894622031164826  84.885726
1        65009550197454  61.108141
2      5381378528001886  52.106019
3       344044685095332  54.379830
4      5281794686066290  39.704794
...                 ...        ...
49995  2018185637039049  58.958321
49996  7838600820947425   5.662280
49997  1310171896045522  41.466918
49998  3346506901987756  30.413742
49999  5987355644780185  61.940597

[50000 rows x 2 columns]

In [3]:
merchants_data = pd.read_csv('data_sets/merchants.csv')

# CHECK FOR NULL VALUES
print(merchants_data.isnull().sum())

# DROP COLUMNS THAT ARE NOT NEEDED
merchants_data = merchants_data.drop(columns=['BUSINESS_TYPE', 'MCC_CODE', 'LEGAL_NAME', 'FOUNDATION_DATE',
                                                'TAX_EXCEMPT_INDICATOR', 'ACTIVE_FROM', 'TRADING_FROM', 'ANNUAL_TURNOVER_CARD',
                                                  'AVERAGE_TICKET_SALE_AMOUNT', 'DELIVERY_SAME_DAYS_PERCENTAGE',
                                                    'DELIVERY_WEEK_ONE_PERCENTAGE', 'DELIVERY_WEEK_TWO_PERCENTAGE', 
                                                    'DELIVERY_OVER_TWO_WEEKS_PERCENTAGE'])

# CALCULATE DIFFERENCE IN DEPOSIT_REQUIRED_PERCENTAGE AND DEPOSIT_PERCENTAGE AND SAVE TO DEPOSIT_DIFF
merchants_data['DEPOSIT_DIFF'] = merchants_data['DEPOSIT_REQUIRED_PERCENTAGE'] - merchants_data['DEPOSIT_PERCENTAGE']

# DROP THE INDIVIDUAL DEPOSIT_PERCENTAGE AND DEPOSIT_REQUIRED_PERCENTAGE COLUMNS
merchants_data = merchants_data.drop(columns=['DEPOSIT_REQUIRED_PERCENTAGE', 'DEPOSIT_PERCENTAGE'])

merchants_data

MERCHANT_ID                           0
BUSINESS_TYPE                         0
MCC_CODE                              0
LEGAL_NAME                            0
FOUNDATION_DATE                       0
TAX_EXCEMPT_INDICATOR                 0
OUTLET_TYPE                           0
ACTIVE_FROM                           0
TRADING_FROM                          0
ANNUAL_TURNOVER_CARD                  0
ANNUAL_TURNOVER                       0
AVERAGE_TICKET_SALE_AMOUNT            0
PAYMENT_PERCENTAGE_FACE_TO_FACE       0
PAYMENT_PERCENTAGE_ECOM               0
PAYMENT_PERCENTAGE_MOTO               0
DEPOSIT_REQUIRED_PERCENTAGE           0
DEPOSIT_PERCENTAGE                    0
DELIVERY_SAME_DAYS_PERCENTAGE         0
DELIVERY_WEEK_ONE_PERCENTAGE          0
DELIVERY_WEEK_TWO_PERCENTAGE          0
DELIVERY_OVER_TWO_WEEKS_PERCENTAGE    0
dtype: int64

,MERCHANT_ID,OUTLET_TYPE,ANNUAL_TURNOVER,PAYMENT_PERCENTAGE_FACE_TO_FACE,PAYMENT_PERCENTAGE_ECOM,PAYMENT_PERCENTAGE_MOTO,DEPOSIT_DIFF
0,1b7557bb-208b-4fdc-ba91-eca98298541a,Ecommerce,351840227,49,51,0,0
1,6c948718-ea18-4d07-85d7-0916eb55e699,Ecommerce,411017547,50,50,0,0
2,f0151a49-7ac0-4258-93db-46bee2db6f66,Ecommerce,306887834,54,46,0,0
3,07089d03-0d63-4d24-a3f9-e651fda07cdc,Ecommerce,686209305,57,43,0,0
4,2c16629a-da48-4e69-9862-8fd521a53bbc,Ecommerce,384701644,62,33,5,0
...,...,...,...,...,...,...,...
30447,f58e8478-1566-4d1c-b0cb-b2106c8da3be,Face to Face and Ecommerce,304951,85,15,0,0
30448,68618d14-1e80-449d-95e3-6fa9e61901be,Face to Face and Ecommerce,735472,100,0,0,0
30449,e3cfd7f2-e2d1-40ea-b7b3-2583c57ecb3a,Face to Face and Ecommerce,645184,100,0,0,0
30450,3f8dff6f-d5b0-4963-99fa-3c64830fed23,Face to Face and Ecommerce,912396,100,0,0,0
30451,cb5826ba-6a40-4f7f-9b53-ae7f3e35e740,Face to Face and Ecommerce,822741,100,0,0,0

In [4]:
terminals_data = pd.read_csv('data_sets/terminals.csv')

# CHECK FOR NULL VALUES
print(terminals_data.isnull().sum())

# USE x_terminal_id and y_terminal__id to calculate euclidean distance
terminals_data['distance'] = ((terminals_data['x_terminal_id'] - terminals_data['y_terminal__id'])**2)**0.5

# DROP COLUMNS THAT ARE NOT NEEDED
terminals_data = terminals_data.drop(columns=['x_terminal_id', 'y_terminal__id'])

terminals_data

TERMINAL_ID       0
x_terminal_id     0
y_terminal__id    0
dtype: int64

      TERMINAL_ID   distance
0         9754224  27.353181
1        37467861  40.981413
2        20678215  33.963044
3        12724021  26.240403
4         2989793  29.912286
...           ...        ...
4995     47999983   5.515555
4996     13129180  16.320659
4997     74645821  29.213743
4998     65145440   1.160258
4999     14982407   6.231818

[5000 rows x 2 columns]

In [5]:
transactions_test_data = pd.read_csv('data_sets/transactions_test.csv')

# CHECK FOR NULL VALUES
print(transactions_test_data.isnull().sum())

# DROP COLUMNS
transactions_test_data = transactions_test_data.drop(columns=['TX_TS', 'TX_AMOUNT', 'FAILURE_CODE',
                                                                'FAILURE_REASON', 'CARD_BRAND', 'CARD_DATA', 'CARD_EXPIRY_DATE',
                                                                  'TRANSACTION_STATUS', 'TRANSACTION_TYPE'])

# DROP COLUMN IF ALL VALUES ARE 0
transactions_test_data = transactions_test_data.loc[:, (transactions_test_data != 0.0).any(axis=0)]

# CHECK FOR NULL VALUES AGAIN
print(transactions_test_data.isnull().sum())

transactions_test_data

TX_ID                                        0
TX_TS                                        0
CUSTOMER_ID                                  0
TERMINAL_ID                                  0
TX_AMOUNT                                    0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT        0
TRANSACTION_CASHBACK_AMOUNT                  0
CARD_EXPIRY_DATE                             0
CARD_DATA                                    0
CARD_BRAND                                   0
TRANSACTION_TYPE                             0
TRANSACTION_STATUS                           0
FAILURE_CODE                             70009
FAILURE_REASON                           70009
TRANSACTION_CURRENCY                         0
CARD_COUNTRY_CODE                            0
MERCHANT_ID                                  1
IS_RECURRING_TRANSACTION                     0
ACQUIRER_ID                                  0
CARDHOLDER_AUTH_METHOD                       0
ID_JOIN                                      0
dtype: int64
TX_ID                                    0
CUSTOMER_ID                              0
TERMINAL_ID                              0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT    0
TRANSACTION_CASHBACK_AMOUNT              0
TRANSACTION_CURRENCY                     0
CARD_COUNTRY_CODE                        0
MERCHANT_ID                              0
IS_RECURRING_TRANSACTION                 0
ACQUIRER_ID                              0
CARDHOLDER_AUTH_METHOD                   0
ID_JOIN                                  0
dtype: int64

,TX_ID,CUSTOMER_ID,TERMINAL_ID,TRANSACTION_GOODS_AND_SERVICES_AMOUNT,TRANSACTION_CASHBACK_AMOUNT,TRANSACTION_CURRENCY,CARD_COUNTRY_CODE,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,ID_JOIN
0,09324d812ba7915c3f791e973db293ad50db70d8,4635360198955981,4641801,34.61,0.0,USD,US,52f53dfb-6f2c-4584-8c82-aeafbcd7a02d,False,ACQ2,Signature,5637.0
1,a17bc798bacadbde6cd7928688e2453fa6023d67,3695434572951846,75652463,39.74,0.0,CNY,US,ebd8abbf-db80-4ac2-a83b-6b3642f7140a,False,ACQ3,Signature,16253.0
2,dee3efed3600425f60eee0e9d363f9bac226e12a,2021639056384826,45740229,15.60,0.0,USD,FI,faffd1ae-c962-4a11-b664-2ce691c23df8,False,ACQ3,Signature,20501.0
3,e0b665434d7945d6b170eb8da1b88d3fdfaaf3f7,5182312031642618,12372906,62.81,0.0,CNY,US,ef16b77c-1595-4af7-9a50-a0b9f8507bbf,False,ACQ3,Signature,450.0
4,b25981de8b5dcdc1c38de111a21312115c34199d,2904034201365313,61785600,71.00,0.0,USD,CA,b62e5e95-63fa-4fa8-b3d2-3eb03616208a,False,ACQ1,Signature,24900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
71134,b8a998afbc7152514b1ae19d3e74c1566fb9547b,7090668360287420,76409951,26.08,0.0,USD,CA,a3c9dbaa-b003-429a-bf20-8df2036f3d95,False,ACQ4,Offline enciphered PIN and signature,5445.0
71135,dd1f46bf3fe4cbe806c000d33c9491595aad9706,8394492078987172,22410848,90.94,0.0,USD,DE,5b02c96f-87ab-49e5-bec0-58d284654fa6,False,ACQ4,Offline enciphered PIN and signature,20215.0
71136,ddceeb33d5d85e1ca3851bc6e84141b8964a45cd,2115306202677133,45761959,20.25,0.0,USD,FI,6a8b7002-938a-4fba-829c-7f47a6d3838a,False,ACQ4,Offline enciphered PIN and signature,20895.0
71137,005c9942ba8e4e05508fb47d332cd5ca802512f7,555840843479473,80700449,68.04,0.0,USD,RO,e2de765a-bef0-4793-9517-cc647acc5060,False,ACQ4,Offline enciphered PIN and signature,20954.0
71138,4af7a6f698e30cecc97ac5254315c97db971bf56,2687683095031651,81504757,45.75,0.0,USD,SA,701703a3-f228-4f52-a598-57b334a59c00,False,ACQ6,Offline enciphered PIN and signature,7172.0

In [6]:
transactions_train_data = pd.read_csv('data_sets/transactions_train.csv')

# CHECK FOR NULL VALUES
print(transactions_train_data.isnull().sum())

# Clean data:
transactions_train_data = transactions_train_data.drop(columns=['TX_ID', 'TX_TS', 'TX_AMOUNT', 'FAILURE_CODE',
                                                                 'FAILURE_REASON', 'CARD_BRAND', 'CARD_DATA',
                                                                   'CARD_EXPIRY_DATE', 'TRANSACTION_STATUS', 'TRANSACTION_TYPE'])

# DROP COLUMN IF ALL VALUES ARE 0
transactions_train_data = transactions_train_data.loc[:, (transactions_train_data != 0.0).any(axis=0)]

# DROP ROW IF A VALUE IS NAN
transactions_train_data = transactions_train_data.dropna()

# CHECK FOR NULL VALUES AGAIN
print(transactions_train_data.isnull().sum())

transactions_train_data

C:\Users\bbdnet2621\AppData\Local\Temp\ipykernel_10356\98514346.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  transactions_train_data = pd.read_csv('data_sets/transactions_train.csv')

TX_ID                                          0
TX_TS                                          0
CUSTOMER_ID                                    0
TERMINAL_ID                                    0
TX_AMOUNT                                      0
TX_FRAUD                                       0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT          0
TRANSACTION_CASHBACK_AMOUNT                    0
CARD_EXPIRY_DATE                               0
CARD_DATA                                      0
CARD_BRAND                                     0
TRANSACTION_TYPE                               0
TRANSACTION_STATUS                             0
FAILURE_CODE                             1049208
FAILURE_REASON                           1049208
TRANSACTION_CURRENCY                           0
CARD_COUNTRY_CODE                              0
MERCHANT_ID                                    0
IS_RECURRING_TRANSACTION                       0
ACQUIRER_ID                                    1
CARDHOLDER_AUTH_METHOD                         1
dtype: int64
CUSTOMER_ID                              0
TERMINAL_ID                              0
TX_FRAUD                                 0
TRANSACTION_GOODS_AND_SERVICES_AMOUNT    0
TRANSACTION_CASHBACK_AMOUNT              0
TRANSACTION_CURRENCY                     0
CARD_COUNTRY_CODE                        0
MERCHANT_ID                              0
IS_RECURRING_TRANSACTION                 0
ACQUIRER_ID                              0
CARDHOLDER_AUTH_METHOD                   0
dtype: int64

,CUSTOMER_ID,TERMINAL_ID,TX_FRAUD,TRANSACTION_GOODS_AND_SERVICES_AMOUNT,TRANSACTION_CASHBACK_AMOUNT,TRANSACTION_CURRENCY,CARD_COUNTRY_CODE,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD
0,7323088226725338,55875360,0,0.00,0.0,USD,SA,136def43-2ef3-4bc9-a8c2-60598c316e9c,False,ACQ1,Online PIN
1,8627200351202456,31418810,0,1.14,0.0,USD,CA,a019e1d4-a3b3-479e-9747-a2ece27ff980,False,ACQ2,Signature
2,8983139483148479,84302882,0,0.46,0.0,USD,CA,f15d1eca-36f0-4f11-b17d-fe36475b021e,False,ACQ1,Online PIN
3,2016744441942099,26364082,0,2.06,0.0,GBP,US,7bd1dea7-72fa-41b3-8232-b315e1187b58,False,ACQ2,Offline plaintext PIN
4,6888146658050582,34582161,0,1.50,0.0,USD,BE,eee6cb9f-b64d-4710-8c36-1c2b426d7466,False,ACQ2,Offline plaintext PIN
...,...,...,...,...,...,...,...,...,...,...,...
1066434,2426772567661946,29332740,0,18.54,0.0,GBP,US,26edbb0d-e15c-4e05-a36a-edba7a80348e,False,ACQ2,Online PIN
1066435,5935188564996005,17853512,0,49.26,0.0,USD,US,badaefe1-3194-4c8d-bf17-1170a7434b91,False,ACQ3,Offline enciphered PIN
1066436,1236547395079298,47342746,0,49.26,0.0,EUR,BE,f5ea7e47-61b5-43a2-acaa-4ac66a0d527f,False,ACQ3,Online PIN
1066437,1023056874020037,35501969,0,79.98,0.0,USD,DE,6e9e0952-1b76-45d5-8693-a4423d0d80da,True,ACQ4,Online PIN
1066438,1242253442761831,55618069,0,79.98,0.0,USD,FR,2f4f7698-1a51-46d0-88eb-415120418027,False,ACQ3,Offline plaintext PIN

In [7]:
# MERGE TABLES FOR TRAINING DATA
train_data = pd.merge(transactions_train_data, merchants_data, on='MERCHANT_ID', how='left')

# PRINT ANY ENTRIES THAT ARE NA
print(train_data[train_data.isna().any(axis=1)])

train_data

Empty DataFrame
Columns: [CUSTOMER_ID, TERMINAL_ID, TX_FRAUD, TRANSACTION_GOODS_AND_SERVICES_AMOUNT, TRANSACTION_CASHBACK_AMOUNT, TRANSACTION_CURRENCY, CARD_COUNTRY_CODE, MERCHANT_ID, IS_RECURRING_TRANSACTION, ACQUIRER_ID, CARDHOLDER_AUTH_METHOD, OUTLET_TYPE, ANNUAL_TURNOVER, PAYMENT_PERCENTAGE_FACE_TO_FACE, PAYMENT_PERCENTAGE_ECOM, PAYMENT_PERCENTAGE_MOTO, DEPOSIT_DIFF]
Index: []

,CUSTOMER_ID,TERMINAL_ID,TX_FRAUD,TRANSACTION_GOODS_AND_SERVICES_AMOUNT,TRANSACTION_CASHBACK_AMOUNT,TRANSACTION_CURRENCY,CARD_COUNTRY_CODE,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,OUTLET_TYPE,ANNUAL_TURNOVER,PAYMENT_PERCENTAGE_FACE_TO_FACE,PAYMENT_PERCENTAGE_ECOM,PAYMENT_PERCENTAGE_MOTO,DEPOSIT_DIFF
0,7323088226725338,55875360,0,0.00,0.0,USD,SA,136def43-2ef3-4bc9-a8c2-60598c316e9c,False,ACQ1,Online PIN,Face to Face,23598,37,63,0,0
1,8627200351202456,31418810,0,1.14,0.0,USD,CA,a019e1d4-a3b3-479e-9747-a2ece27ff980,False,ACQ2,Signature,Face to Face,340735,84,16,0,-10
2,8983139483148479,84302882,0,0.46,0.0,USD,CA,f15d1eca-36f0-4f11-b17d-fe36475b021e,False,ACQ1,Online PIN,Face to Face and Ecommerce,707188,79,21,0,0
3,2016744441942099,26364082,0,2.06,0.0,GBP,US,7bd1dea7-72fa-41b3-8232-b315e1187b58,False,ACQ2,Offline plaintext PIN,Face to Face and Ecommerce,104869,66,34,0,0
4,6888146658050582,34582161,0,1.50,0.0,USD,BE,eee6cb9f-b64d-4710-8c36-1c2b426d7466,False,ACQ2,Offline plaintext PIN,Face to Face and Ecommerce,788913,43,57,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066434,2426772567661946,29332740,0,18.54,0.0,GBP,US,26edbb0d-e15c-4e05-a36a-edba7a80348e,False,ACQ2,Online PIN,Face to Face,166262,80,20,0,0
1066435,5935188564996005,17853512,0,49.26,0.0,USD,US,badaefe1-3194-4c8d-bf17-1170a7434b91,False,ACQ3,Offline enciphered PIN,Face to Face and Ecommerce,398860,65,35,0,0
1066436,1236547395079298,47342746,0,49.26,0.0,EUR,BE,f5ea7e47-61b5-43a2-acaa-4ac66a0d527f,False,ACQ3,Online PIN,Face to Face and Ecommerce,911287,57,43,0,0
1066437,1023056874020037,35501969,0,79.98,0.0,USD,DE,6e9e0952-1b76-45d5-8693-a4423d0d80da,True,ACQ4,Online PIN,Face to Face,425738,76,24,0,0
1066438,1242253442761831,55618069,0,79.98,0.0,USD,FR,2f4f7698-1a51-46d0-88eb-415120418027,False,ACQ3,Offline plaintext PIN,Ecommerce,29226,74,26,0,0

In [8]:
# MERGE TABLES FOR TESTING DATA
test_data = pd.merge(transactions_test_data, merchants_data, on='MERCHANT_ID', how='left')

# PRINT ANY ENTRIES THAT ARE NA
print(test_data[test_data.isna().any(axis=1)])

test_data

Empty DataFrame
Columns: [TX_ID, CUSTOMER_ID, TERMINAL_ID, TRANSACTION_GOODS_AND_SERVICES_AMOUNT, TRANSACTION_CASHBACK_AMOUNT, TRANSACTION_CURRENCY, CARD_COUNTRY_CODE, MERCHANT_ID, IS_RECURRING_TRANSACTION, ACQUIRER_ID, CARDHOLDER_AUTH_METHOD, ID_JOIN, OUTLET_TYPE, ANNUAL_TURNOVER, PAYMENT_PERCENTAGE_FACE_TO_FACE, PAYMENT_PERCENTAGE_ECOM, PAYMENT_PERCENTAGE_MOTO, DEPOSIT_DIFF]
Index: []

,TX_ID,CUSTOMER_ID,TERMINAL_ID,TRANSACTION_GOODS_AND_SERVICES_AMOUNT,TRANSACTION_CASHBACK_AMOUNT,TRANSACTION_CURRENCY,CARD_COUNTRY_CODE,MERCHANT_ID,IS_RECURRING_TRANSACTION,ACQUIRER_ID,CARDHOLDER_AUTH_METHOD,ID_JOIN,OUTLET_TYPE,ANNUAL_TURNOVER,PAYMENT_PERCENTAGE_FACE_TO_FACE,PAYMENT_PERCENTAGE_ECOM,PAYMENT_PERCENTAGE_MOTO,DEPOSIT_DIFF
0,09324d812ba7915c3f791e973db293ad50db70d8,4635360198955981,4641801,34.61,0.0,USD,US,52f53dfb-6f2c-4584-8c82-aeafbcd7a02d,False,ACQ2,Signature,5637.0,Ecommerce,389840,39,61,0,0
1,a17bc798bacadbde6cd7928688e2453fa6023d67,3695434572951846,75652463,39.74,0.0,CNY,US,ebd8abbf-db80-4ac2-a83b-6b3642f7140a,False,ACQ3,Signature,16253.0,Face to Face,643907,60,40,0,0
2,dee3efed3600425f60eee0e9d363f9bac226e12a,2021639056384826,45740229,15.60,0.0,USD,FI,faffd1ae-c962-4a11-b664-2ce691c23df8,False,ACQ3,Signature,20501.0,Face to Face,560326,78,22,0,0
3,e0b665434d7945d6b170eb8da1b88d3fdfaaf3f7,5182312031642618,12372906,62.81,0.0,CNY,US,ef16b77c-1595-4af7-9a50-a0b9f8507bbf,False,ACQ3,Signature,450.0,Face to Face,502041340,83,17,0,0
4,b25981de8b5dcdc1c38de111a21312115c34199d,2904034201365313,61785600,71.00,0.0,USD,CA,b62e5e95-63fa-4fa8-b3d2-3eb03616208a,False,ACQ1,Signature,24900.0,Face to Face,576342,80,20,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71133,b8a998afbc7152514b1ae19d3e74c1566fb9547b,7090668360287420,76409951,26.08,0.0,USD,CA,a3c9dbaa-b003-429a-bf20-8df2036f3d95,False,ACQ4,Offline enciphered PIN and signature,5445.0,Face to Face and Ecommerce,711524,62,38,0,0
71134,dd1f46bf3fe4cbe806c000d33c9491595aad9706,8394492078987172,22410848,90.94,0.0,USD,DE,5b02c96f-87ab-49e5-bec0-58d284654fa6,False,ACQ4,Offline enciphered PIN and signature,20215.0,Ecommerce,815031,80,20,0,0
71135,ddceeb33d5d85e1ca3851bc6e84141b8964a45cd,2115306202677133,45761959,20.25,0.0,USD,FI,6a8b7002-938a-4fba-829c-7f47a6d3838a,False,ACQ4,Offline enciphered PIN and signature,20895.0,Face to Face,70252,46,54,0,0
71136,005c9942ba8e4e05508fb47d332cd5ca802512f7,555840843479473,80700449,68.04,0.0,USD,RO,e2de765a-bef0-4793-9517-cc647acc5060,False,ACQ4,Offline enciphered PIN and signature,20954.0,Face to Face,614036,56,44,0,0
71137,4af7a6f698e30cecc97ac5254315c97db971bf56,2687683095031651,81504757,45.75,0.0,USD,SA,701703a3-f228-4f52-a598-57b334a59c00,False,ACQ6,Offline enciphered PIN and signature,7172.0,Face to Face and Ecommerce,522480179,42,58,0,0

In [9]:
from sklearn.preprocessing import OneHotEncoder
# Separate target prediction
y = train_data.TX_FRAUD
X = train_data.drop(['TX_FRAUD' ,'CUSTOMER_ID',  'TERMINAL_ID','MERCHANT_ID'], axis=1)
test_data_TX_ID = test_data.TX_ID
X_test = test_data.drop(['CUSTOMER_ID',  'TERMINAL_ID','MERCHANT_ID', 'ID_JOIN', 'TX_ID'], axis=1)
test_data_TX_ID.head()
# Divide data into training data and validation data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

object_cols = [col for col in X_train.columns if X_train[col].dtype == "object"]
object_cols_test_data = [col for col in X_train.columns if X_train[col].dtype == "object"]
# print(object_cols)
# print(object_cols_test_data)

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols].astype(str)))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols].astype(str)))
OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test[object_cols].astype(str)))


# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index
OH_cols_test.index = X_test.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)
num_X_test = X_test.drop(object_cols_test_data, axis=1)


# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)
OH_X_test = pd.concat([num_X_test, OH_cols_test], axis=1)

OH_X_train.columns = OH_X_train.columns.astype(str)
OH_X_valid.columns = OH_X_valid.columns.astype(str)
OH_X_test.columns = OH_X_test.columns.astype(str)

C:\Users\bbdnet2621\AppData\Local\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
OH_X_train.head()

,TRANSACTION_GOODS_AND_SERVICES_AMOUNT,TRANSACTION_CASHBACK_AMOUNT,ANNUAL_TURNOVER,PAYMENT_PERCENTAGE_FACE_TO_FACE,PAYMENT_PERCENTAGE_ECOM,PAYMENT_PERCENTAGE_MOTO,DEPOSIT_DIFF,0,1,2,...,33,34,35,36,37,38,39,40,41,42
586284,44.33,0.0,594342838,82,18,0,0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1003473,63.02,0.0,245774,35,65,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
527600,83.41,0.0,16357,39,61,0,0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
258650,51.02,0.0,430950,38,62,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
608642,31.25,0.0,341877,100,0,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [11]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error


my_model = XGBRegressor()
my_model.fit(OH_X_train, y_train)


predictions = my_model.predict(OH_X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))

Mean Absolute Error: 0.04925342675126264

In [12]:
answers = my_model.predict(OH_X_test)
output = pd.DataFrame({"TX_ID": test_data_TX_ID, "TX_FRAUD": answers})
output.set_index("TX_ID", inplace=True)

In [13]:
max_a = output.TX_FRAUD.max()
min_a = output.TX_FRAUD.min()
min_norm = 0
max_norm =1
output['TX_FRAUD'] = round((output.TX_FRAUD- min_a) *(max_norm - min_norm) / (max_a-min_a) + min_norm , 1)

In [14]:
output.to_csv('submission.csv')